@font-face {
    font-family: Gotham-Light;
    src: url(../fonts/Gotham-Font/Gotham-Light.otf);
}

@font-face {
    font-family: GothamMedium;
    src: url(../fonts/Gotham-Font/GothamMedium.ttf);
}

@font-face {
    font-family: GothamBold;
    src: url(../fonts/Gotham-Font/GothamBold.ttf);
}

body {
    margin: 0 auto;
    font-family: 'Gotham-Light';
}

strong {
    font-family: 'GothamMedium';
}

/* Navbar */
header {
    display: flex;
    padding: 20px 0;
    width: 100%;
    background-color: #fefefe;
}

header > * {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.links {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.links > a {
    text-decoration: none;
    color: #0090d2;
    font-family: 'GothamMedium';
    font-size: 16px;
}

header > a > img {
    width: 8rem;
    margin-right: auto;
}

.buscar { 
    width: 1.3rem;
}

/* Datos de la Empresa */
.datos {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    padding: 5rem 0;
}
.datos > div {
    background: rgb(54,181,210);
    background: -moz-linear-gradient(180deg, rgba(54,181,210,1) 0%, rgba(0,143,210,1) 40%);
    background: -webkit-linear-gradient(180deg, rgba(54,181,210,1) 0%, rgba(0,143,210,1) 40%);
    background: linear-gradient(180deg, rgba(54,181,210,1) 0%, rgba(0,143,210,1) 40%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#36b5d2",endColorstr="#008fd2",GradientType=1);
    color: white;
    padding: 50px 80px;
    text-align: center;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 15%;
}

.datos > div > div > p {
    line-height: 20px;
}

.datos-img {
    width: 70px;
    height: 80px;
    display: block;
    margin: 0 auto;
}

/* Nosotros */
.nosotros {
    padding: 5rem 0;
    width: 80%;
    display: flex;
    margin: 0 auto;
}

.nosotros-info {
    width: 40rem;
    margin-right: auto;
}

.nosotros-info > h2 {
    font-size: 40px;
    font-family: 'GothamMedium';
}

.nosotros-info > p {
    line-height: 20px;
    color: #2e2e2e;
}

.btn-green-gradient {
    background: rgb(95,198,216);
    background: -moz-linear-gradient(180deg, rgba(95,198,216,1) 0%, rgba(45,162,154,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(95,198,216,1) 0%, rgba(45,162,154,1) 100%);
    background: linear-gradient(180deg, rgba(95,198,216,1) 0%, rgba(45,162,154,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fc6d8",endColorstr="#2da29a",GradientType=1);
    padding: 12px 80px;
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    margin-top: 2rem;
    font-size: 16px;
}

/* Cadenas y Distribuidores */
.cadenas > * {
text-align: center;
}

.cadenas-texto {
    width: 40%;
    margin: 0 auto;
}

.cadenas-texto > h2 {
    font-size: 40px;
    font-family: 'GothamMedium';
    color: #2e2e2e;
}

.cadenas-texto > p {
    line-height: 19px;
}

.cadenas-carrusel {
    display: flex;
    margin: 4rem 0;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}

.cadenas-carrusel > img {
    display: block;
    justify-content: center;
    align-items: center;
}

/* Productos */
.seccion-productos {
    background: rgb(2,146,209);
    background: -moz-linear-gradient(180deg, rgba(2,146,209,1) 0%, rgba(54,181,210,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(2,146,209,1) 0%, rgba(54,181,210,1) 100%);
    background: linear-gradient(180deg, rgba(2,146,209,1) 0%, rgba(54,181,210,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0292d1",endColorstr="#36b5d2",GradientType=1);
    padding: 5rem 0;
}

.productos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
}

.productos-img {
    margin-right: auto;
}

.productos-info {
    width: 50%;
    color: white;
}

.productos-info > h2 {
    font-size: 40px;
    font-family: 'GothamMedium';
}

.productos-info > p {
    line-height: 20px;
}

.productos-info > button {
    background-color: white;
    color: #008fd2;
    padding: 10px 35px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    font-size: 16px;
}

/* Certificaciones y aprobaciones */
.certi {
    padding: 5rem 0;
}

.certi > * {
text-align: center;
}

.certi-carrusel {
    display: flex;
    margin: 6rem 0;
    gap: 18rem;
    justify-content: center;
}

.certi-carrusel > img {
    max-width: 100%;
}

/* A tener en cuenta */
.recomendaciones {
    padding: 5rem 0;
    margin: 0 auto;
    width: 90%;
}

.recomendaciones-info > h2 {
    color: #0f9ad2;
    font-size: 55px;
}

.recomendaciones-info > h2 > strong {
    font-size: 65px;
}

.recomendaciones-info > p {
    font-family: 'GothamMedium';
    color: #2e2e2e;
}

.tip {
    display: flex;
    gap: 25px;
}

.tip-number {
    width: 46px;
    height: 46px;
    text-align: center;
    align-center: center;
    border-radius: 7px;
    background: rgb(48,164,218);
    background: -moz-linear-gradient(0deg, rgba(48,164,218,1) 0%, rgba(32,156,172,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(48,164,218,1) 0%, rgba(32,156,172,1) 100%);
    background: linear-gradient(0deg, rgba(48,164,218,1) 0%, rgba(32,156,172,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#30a4da",endColorstr="#209cac",GradientType=1);
    color: white;
    font-size: 30px;
    font-family: 'GothamBold';
}

.tip-description {
    width: 80%;
    line-height: 20px;
    align-items: start;
    vertical-align: start;
}

.puntos {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.col {
    width: 45%;
}

/* Footer */
footer {
    background-image: url(https://bonapharm.com/wp-content/uploads/2022/04/img-footer.jpg);
    background-color: #1a99ce;
    color: white;
    display: flex;
    flex-direction: column;
}

footer > hr {
    width: 99%;
    margin: 0 auto;
    color: #72c0e4;
}

.footer-main {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto 2rem auto;
    gap: 10rem;
    padding-top: 4rem;
}

.footer-company {
    width: 25rem;
}

.footer-company > p {
    font-size: 12px;
    color: #e1f1f8;
    line-height: 16px;
}

.linkedin {
    width: 25px;
}

.menu {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.menu-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-links > a {
    text-decoration: none;
    text-align: center;
    color: white;
}

.footer-end {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}

.copyright {
    margin-right: auto;
}