/* Banner */
.nosotros-banner > img {
    width: 99.9%;
}

/* Historia */
.historia {
    display: flex;
    width: 80%;
    margin: 5rem auto;
}

.historia-txt {
    width: 100%;
    line-height: 25px;
}

.historia-txt > h2 {
    font-family: 'GothamMedium';
    font-size: 40px;
}

/* Misión, Visión, etc */
.valores {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    gap: 8rem;
    padding: 3rem 0;
}

.valores-row-item {
    width: 35%;
}

/* Equipo */
.equipo {
    padding: 5rem 0;
}

.miembro-img > img {
    width: 300px;
    height: 300px;
}

.miembro-card {
    display: flex;
    flex-direction: row;
}